body {
    background-color:lightslategray
}


.Title{
    text-align:center;
    background-color: black;
    color:lightgrey;
    font-size: 22px;
    padding: 10px;
    margin: 40px;
    border-style:groove
}

.NormSanders {
    text-align:center
}

.Main {
    text-align:center;
    color:black;
    font-size: 18px;
    padding: 15px;
}

